<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./static/css/output.css">
      <link rel="stylesheet" href="./static/css/customStyles.css">
      <title>Личный кабинет - Клиент</title>
   </head>
   <body class="bg-gray-100 font-sans">

    <!-- Header -->
    <header class="flex items-center justify-between p-3 bg-customWhite shadow-md">
      <!-- Logo -->
      <div class="ml-20">
        <a href="index.html">
          <img src="./static/assets/img/svg/logoHead.svg" alt="">
        </a>
      </div>
  
      <!-- Menu Icon -->
      <div class="text-3xl cursor-pointer mr-10">
        <img src="./static/assets/img/svg/burger-menu.svg" alt="">
      </div>
      
    </header>
  
<!-- Main Content -->
<main class="container mx-auto mt-10 px-4">
    <div class="grid grid-cols-1 gap-8">
  
      <!-- Объединенный блок профиля -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex gap-8">
  
          <!-- Profile Info + Parameters -->
          <div class="flex flex-col bg-gray-50 p-4 rounded-lg flex-1">
            <!-- Profile Info -->
            <div class="flex items-center gap-6 mb-6">
              <!-- Фото профиля -->
              <img src="./static/assets/img/png/avatarStilist.png" alt="Фото профиля" class="w-32 h-32 rounded-full">
  
              <!-- Имя, Фамилия и Возраст -->
              <div>
                <h2 class="text-2xl font-bold">{{user_info.first_name}}</h2>
                <p class="text-2xl">{{user_info.last_name}}</p>
                <a href="/logout">logout</a>
              </div>
            </div>
            
          </div>
          
          <!-- Action Buttons -->
          <div class="flex flex-col flex-1">
            <h2 class="text-2xl font-bold mb-6">Выберите действие:</h2>
            <div class="space-y-4">
              <button class="w-full bg-black text-white py-3 rounded-full hover:bg-gray-800">Разобрать гардероб</button>
              <button class="w-full bg-black text-white py-3 rounded-full hover:bg-gray-800">Составить капсулу</button>
              <a href="/chats"><button class="w-full bg-black text-white py-3 rounded-full hover:bg-gray-800">Чат со стилистом</button></a>
              <button class="w-full bg-black text-white py-3 rounded-full hover:bg-gray-800">Видеозвонок стилисту</button>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </main>
  
  
  
  
  </body>
</html>